.blogspost-img-container {
    padding: 0 50px 40px;
    img {
        width: 100%;
    }
}

.blogspost-main-container {
    padding: 0 50px 40px;
    h3 {
        font-size: 1.3rem;
        border-bottom: 2px solid #cdd2da;
    }
    h1 {
        font-size: 2rem;
    }
    p {
        font-size: 1rem;
    }
}

.contact-main-container {
    width: auto;
    display: grid;
    grid-template-columns: repeat(2, 300px);
    justify-content: space-around;
    background-color: #cdd2da;
    img {
        width: 80px;
        height: 80px;
        margin-right: 10px;
    }
    .contact {
        display: flex;
        padding: 50px 0;
    }
    a {
        border-bottom: 1px solid black;
        padding-bottom: 5px;
    }
}